* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: rgba(184, 120, 17, 0.736);
}

nav {
    margin: 1rem;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

/* Sección de proyectos */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project-card {
    flex: 1 1 300px;
    max-width: 300px;
    border: 1px solid #dc0000ed;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #e7e6e6;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.571);
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Sección de habilidades */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 1rem 0;
}

.skill-item {
    position: relative;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

/* Texto descriptivo al pasar el cursor */
.skill-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip {
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333232;
    margin-top: 2rem;
}

footer p{
    color: #0073e6;
}

/* Responsive */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}